@charset "utf-8";

h3 {
    position: fixed;
    top: 10%;
    width: 100px;
    height: 100px;
    color: rgb(211, 211, 211);
    font-size: 30px;
    z-index: 999;
}


/* common --------------------------------------------------------------------------------------------------*/
body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* .inner{width: 95%; text-align: center; margin: 0 auto; padding-top: 4%; }  style2.css랑 중복되서 주석처리 */
.inner {
    margin: 0 auto;
}

h2 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
}


/* gnb------------------------------------------------------------------------------------------------------- */

/* recentView */
.recentView {
    position: fixed;
    width: 110px;
    height: 40px;
    right: 0;
    bottom: 8%;
    background: rgb(77, 77, 77);
    transform: rotate(-90deg);
    z-index: 999;
}

.recentView a {
    display: block;
    color: #fff;
    padding: 8px;
}

/* btnScrollUp */
.btnScrollUp {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: 0;
    background: #196ab3;
    z-index: 999;
}

.btnScrollUp a,
.btnScrollUp a img {
    width: 100%;
}

/* AD */
.AD {
    position: fixed;
    width: 100%;
    height: 34px;
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px;
    background: #000;
    z-index: 999;
}

.AD p {
    font-size: 14px;
    color: #999;
}

.AD a.btnClose {
    width: 22px;
    height: 22px;
    opacity: 0.6;
    margin-left: auto;
}

.AD a.btnClose img {
    width: 100%;
    height: 100%;
}


/* header -------------------------------------------------------------------------------------------------- */

header {
    height: 205px;
    background: #fff;
    padding-top: 20px;
}

h1 {
    margin-left: 50px;
}

.utill,
nav {
    display: none;
}

/* .top */
.top {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}


.bar {
    display: inline-block;
    cursor: pointer;
}

.bar span {
    width: 24px;
    height: 4px;
    background: rgb(63, 63, 63);
    display: block;
    margin: 3px 0;
    transition: .5s linear;
}

.bar.on span:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.bar.on span:nth-child(2) {
    opacity: 0;
}

.bar.on span:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
}

header .btnClose {
    position: absolute;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header .btnClose img {
    width: 100%;
}

#search {
    position: relative;
    display: flex;
    width: 654px;
    height: 56px;
    align-items: center;
    border: 1px solid #196ab3;
    margin-left: 16px;
    background: #fff;
    border-radius: 50px;
    margin-left: 0px;
}

.selectCatagory {
    position: relative;
    display: flex;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
}

.selectCatagory a.ts_btn {
    padding-left: 20px;
    font-size: 16px;
}

.selectCatagory a.ts_btn span {
    display: inline-block;
    width: 11px;
    height: 8px;
    margin-left: 12px;
}

.selectCatagory ul {
    position: absolute;
    width: 100%;
    top: 38px;
    left: 5px;
    background: #fff;
    border: 1px solid #196ab3;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    padding: 4px 0;
    z-index: 999;
    display: none;
}

.textArea {
    position: relative;
    display: inline-block;
    width: 70%;
    height: 38px;
    top: 0;
    left: 0;
    margin-left: 12px;
}

.textArea input {
    width: 80%;
    height: 100%;
    border: none;
}

.textArea input:focus {
    outline: none;
}

.btnSearch {
    position: absolute;
    right: 0;
    width: 60px;
    height: 38px;
}

.btnSearch a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 38px;
    margin-right: 20px;
}

.btnSearch a img {
    display: block;
    width: 100%;
}

.top>ul>li {
    display: inline-block;
}

ul.utill {
    margin-left: auto;
    margin-right: 20px;
}

ul.utill li {
    margin-left: 10px;
}

ul.utill li a {
    font-size: 1rem;
    font-weight: 300;
}

ul.icon {
    height: 24px;
}

ul.icon li {
    line-height: 24px;
    margin-left: 16px;
}

ul.icon li a {
    display: inline-block;
    width: 24px;
    height: 24px;
}

ul.icon li a img {
    width: 100%;
    height: 100%;
}


/* mobile Nav-------------------- */
.mobileNav {
    position: fixed;
    width: 150px;
    height: 100%;
    left: -35%;
    top: 0;
    background: rgb(255, 255, 255, 0.9);
    z-index: 9999;
}
.mobileMenu{padding: 50px 0px 0 10px; }
.mobileMenu .navMenu{position: relative;}
.mobileMenu .navMenu::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: #1b86e4;
    top: 50%;

}
.mobileMenu .navMenu.on::after{
    width: 10px;
}
/* nav------------------ */
.navWrap {
    display: flex;
    justify-content: space-between;
}

header {
    position: relative;
   
}

ul.lv2 {
    position: absolute;
    width: 100%;
    top: 190px;
    left: 0;
    background: rgba(255, 255, 255, .9);
    display: none;
    padding: 30px 0 70px 270px;
}

.navTit>a {
    font-weight: bold;
}

nav a {
    display: block;
}

/* lv1---------------------- */
nav .lv1 {
    z-index: 900;
}


nav .navMenu {
    width: 9.09%;
}

.navMenu>a {
    padding: 7px 10px;
    text-align: center;
    transition: .5s;
    color: #666;
}

.navMenu:hover>a {
    color: #1b86e4;
    font-weight: bold;
}


li.navTit a {
    padding: 20px 0 15px 0;
}


/* ul.lv2-------------------------- */
nav .lv1 ul.lv2>li {
    display: inline-block;
    margin-right: 20px;

}

.navline {
    position: relative;
}

.navline::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgb(208, 208, 208);
    top: 25px;
    left: -30px;
}

.navTit.navline.paddingR10::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 70%;
    background: rgb(208, 208, 208);
    top: 80px;
    left: -30px;
}

li.navTit.paddingR {
    padding-right: 200px;
}

li.navTit.paddingR40 {
    padding-right: 400px;
}

li.navTit.paddingR10 {
    padding-right: 100px;

}

/* ul.lv3------------------------- */
.lv3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 120px;
    width: 100%;
}

.lv3 li a {
    font-size: 15px;
    font-weight: 400;
    color: #777;
}

.lv3 li:hover a {
    color: #1b86e4;
}


.lv3>li {
    height: 25%;
    width: 150px;
}

/* #sect1------------------------------------------------------------------------------------------------------------ */

#sect1 {
    position: relative;
    width: 100%;
    margin-top: 4%;
}

#sect1 .mySwiper {
    z-index: 996;
}

#sect1 .swiper-slide {
    position: relative;
    width: 100%;
    height: 50vh;
}

#sect1 .swiper-slide img {
    position: absolute;
    width: 23%;
    left: 50%;
    bottom: 0;
    transform: translateX(-30%);
}

#sect1 .slide01 {
    background: #f1fcff;
}

#sect1 .slide02 {
    background: #ffe5ee;
}

#sect1 .slide03 {
    background: #d4ffd6;
}

#sect1 .slide04 {
    background: #ffcea2;
}

#sect1 .slide05 {
    background: #f1f8ff;
}



#sect1 .swiper-slide p {
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: 30px;
    font-weight: 300;
}

#sect1 .swiper-slide p span {
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
}

#sect1 b{text-decoration: none;}

#sect1 .pageBtn {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 4.5%;
    top: 40%;
}

#sect1 .pageBtn .btn {
    position: absolute;
    top: 0%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin: 11px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgb(189, 189, 189);
}

#sect1 .pageBtn .btn img {
    width: 100%;
    vertical-align: top;
}

#sect1 .swiper-button-prev {
    left: 0%;
    transform: rotate(90deg);
}

#sect1 .swiper-button-next {
    right: 0%;
    transform: rotate(-90deg);
}


#sect1 .swiper-pagination {
    position: absolute;
    width: 50px;
    height: 20px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 997;
    color: rgb(189, 189, 189);
    font-weight: 300;
}



/* #sect2------------------------------------------------------------------------------------------------------------ */

#sect2 {
    position: relative;
    height: 68vh;
    padding-top: 10%;
}

#sect2 .tabMenu ul li {
    display: inline-block;
    z-index: 999;
}

#sect2 .tabMenu ul li:nth-child(2) {
    margin: 0px 10px;
}

#sect2 .tabMenu ul li a {
    width: 182px;
    padding: 8px 18px;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 30px;
}

#sect2 .tabMenu ul li.on a {
    font-weight: 600;
    color: #fff;
    background: #196ab3;
    border: none;
}

/* tabContents */
.tabContents {
    margin-top: 6%;
}

.tabItem {
    width: 100%;
    margin: 0 auto;
    display: none;
}

.tabItem.on {
    display: block;
}

.tabItem>* {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.tabItem li h2 {
    font-size: 28px;
    color: #fff;
    padding: 36px;
}

.tabItem li .txt_wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 2;
    opacity: 0;
}

.tabItem li a.img {
    float: left;
}

.tabItem li a.img img {
    width: 100%;
}

.tabItem li {
    position: relative;
    cursor: pointer;
}






.txt_wrap {
    position: absolute;
    right: 0;
    width: 264px;
    height: 264px;
    margin-left: 2%;
    padding: 20px;
    /* border: 1px solid rgb(223, 221, 221); */
}

.txt_wrap span {
    display: block;
    text-align: left;
}

.txt_wrap .slogan {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 300;
    line-height: 140%;
}

.txt_wrap .authorle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.txt_wrap .title{
    font-weight: 500;
    font-size: 17px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.txt_wrap .author {
    display: block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

a.btn_solid {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    color: rgb(161, 161, 161);
    border: 1px solid rgb(161, 161, 161);
    border-radius: 50%;
    font-size: 14px;
}

/* #sect6------------------------------------------------------------------------------------------------------------ */
#sect6 {
    position: relative;
    height: 70vh;
    background: rgb(247, 247, 247);
    padding-top: 10%;
    overflow: hidden;
}

.cardContainer {
    position: relative;
    width: 100%;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    cursor: pointer;
}

.cardContainer li {
    position: absolute;
    display: inline-block;
}

.cardContainer li img {
    width: 100%;
}

.phone {
    position: absolute;
    width: 50%;
    left: 50%;
    bottom: -20%;
    transform: translateX(-50%);
}

.phone img {
    width: 100%;
}






/* MOBILE, PAD --------------------------------------------------------------------------------//////////////////////////////////////////////*/
@media screen and (max-width:767px),
(min-width:768px) {

    /* header */
    header .inner {
        width: 95%;
    }
   /* nav--------------- */
   .mobileNav {
    display: block;
}
    /* #sect1 */
    #sect1 {
        height: 50vh;
        min-height: 50vh;
    }

    #sect1 .swiper-slide img {
        width: 80%;
        bottom: 0;
    }

    #sect1 .swiper-slide p {
        left: 8%;
        top: 10%;
        font-size: 20px;
    }

    #sect1 .swiper-slide p span {
        font-size: 16px;
    }

    #search {
        width: 100%;
    }
    header{border-bottom: none}
    /* #sect2 */
    #sect2 .tabMenu ul li a {
        width: 132px;
        font-size: 12px;
        padding: 10px 0px;
    }

    .tabItem>* {
        width: 90%;
        margin-bottom: 2%;
    }

    .tabItem li {
        height: 100%;
    }

    .tabItem li a.img {
        width: 94.5%;
    }

    .txt_wrap {
        z-index: -1;
    }

    /* #sect6 */
    .cardContainer {
        height: 444px;
    }

    .cardContainer li {
        width: 80px;
    }

    .phone {
        width: 36%;
        bottom: -19%;
    }

    .cardRotate {
        top: 2%;
    }

    .cardContainer li {
        width: 17%;
        height: 17%;
    }

    .cardContainer li:nth-child(1) {
        left: 10%;
        bottom: 25%;
    }

    .cardContainer li:nth-child(2) {
        right: 10%;
        bottom: 25%;
    }

    .cardContainer li:nth-child(3) {
        left: 18%;
        bottom: 48%;
    }

    .cardContainer li:nth-child(4) {
        right: 18%;
        bottom: 48%;
    }

    .cardContainer li:nth-child(5) {
        right: 51%;
        bottom: 70%;
    }

    .cardContainer li:nth-child(6) {
        right: 29%;
        bottom: 70%;
    }

    .cardContainer li:nth-child(7) {
        left: 23%;
        bottom: -4%;
    }

    .cardContainer li:nth-child(8) {
        right: 23%;
        bottom: -4%;
    }

    /* .cardContainer li:nth-child(9){left:10%; bottom:18%;}
.cardContainer li:nth-child(10){right:10%; bottom:18%;} */

}

/* PAD --------------------------------------------------------------------------------//////////////////////////////////////////////*/
@media screen and (min-width:768px) {

    /* common */
    .inner {
        width: 90%;
    }


    /* #sect1 */
    #sect1 {
        height: auto;
        margin-top: 6%;
    }

    #sect2 {
        height: 110vh;
    }


}

/* DESKTOP --------------------------------------------------------------------------------//////////////////////////////////////////////*/
@media screen and (min-width:1280px) {

    /* header */
    header .inner {
        width: 80%;
        padding-top: 0;
    }
    header{ border-bottom: 1px solid rgb(225, 225, 225);}
    .top {
        flex-wrap: nowrap;
    }

    .mobileNav {
        display: none;
    }

    h1 {
        margin-left: 5px;
    }

    .bar {
        display: none;
    }

    .utill {
        display: block;
    }

    ul.icon{
        margin-right: 37px;
    }

    nav {
        display: block;
    }

    .utill {
        order: 3;
    }

    .icon {
        order: 4;
    }

    #search {
        margin-left: 210px;
    }

    .textArea input {
        width: 100%;
    }

    /* #sect1 */
    #sect1 {
        height: auto;
        margin-top: 0%;
    }

    #search {
        width: 654px;
        height: 56px;
    }

    #sect1 .swiper-slide img {
        width: 30%;
        left: 65%;
        bottom: 0;
    }

    #sect1 .swiper-slide p {
        left: 12%;
        top: 36%;
        font-size: 3rem;
    }

    #sect1 .swiper-slide p span {
        font-size: 1.4rem;
    }

    #sect1 .pageBtn {
        left: 11.5%;
        top: 14.8%;
    }


    /* #sect2 */
    #sect2 {
        height: 102vh;
        padding-top: 0;
    }

    .tabItem>* {
        width: 69.4%;
        height: 264px;
        margin-bottom: 4%;
    }

    .tabItem li {
        width: 264px;
        height: 264px;
    }

    .tabItem li a.img {
        width: 264px;
    }

    .tabItem li.on {
        width: 540px;
    }

    .tabItem li.on .txt_wrap {
        opacity: 1;
    }

    .txt_wrap.depth {
        z-index: 0;
    }


    /* #sect6 */
#sect6{height: 100vh; padding-top: 0;}
.phone{width: 20%; bottom:-13%;}
.cardRotate{position:relative; top:11%; width: 43%; height: 69%; margin: 0 auto;}


    .cardContainer {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
    }

    .circle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 650px;
        height: 650px;
        border: 1px solid #000;
        border-radius: 50%;
        z-index: 1;
    }

    .cardContainer li {
        width: 19%;
        height: 19%;
    }

    .cardContainer li:nth-child(1) {
        left: 50%;
        top: -10%;
        transform: translateX(-50%);
    }

    .cardContainer li:nth-child(2) {
        left: 50%;
        bottom: -10%;
        transform: translateX(-50%) rotate(-180deg);

    }

    .cardContainer li:nth-child(3) {
        left: -10%;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);

    }

    .cardContainer li:nth-child(4) {
        right: -10%;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
    }

    .cardContainer li:nth-child(5) {
        left: 5%;
        top: 6%;
        transform: rotate(-45deg);
    }

    .cardContainer li:nth-child(6) {
        right: 5%;
        top: 6%;
        transform: rotate(45deg);
    }

    .cardContainer li:nth-child(7) {
        left: 5%;
        bottom: 6%;
        transform: rotate(-145deg);
    }

    .cardContainer li:nth-child(8) {
        right: 5%;
        bottom: 6%;
        transform: rotate(-225deg);
    }

}


section {
    overflow: hidden;
}
